@page "/"
@using PadWiki.WebApp.Entities
@using Humanizer
@using PadWiki.WebApp.Resources

<head>
    <link href="random-cards.css" rel="stylesheet"/>
</head>

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.False" Class="pt-5">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudCarousel Class="mud-width-full rounded" Style="background-image: url('https://i.imgur.com/gHWfK1Z.jpg'); height:400px; width: 100%; overflow: hidden;" ShowArrows="true" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="scrolling-wrapper" style="height:100%" id="scrollingWrapper">
                        @foreach (var card in _cards)
                        {
                            <a class="random-card p-3" href="@card.CallbackUrl" target="_blank" style="transition: transform 2s; transform: @RandomRotate();">
                                <img class="mb-3" src="@card.BackgroundImage"/>
                                <h3 class="text-center">@card.Tittle</h3>
                                <p>@card.Description</p>

                                <p>
                                    <small>@CalculateElapsedTime(card.CreateDate)</small>
                                </p>
                            </a>
                        }
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Style="height: 100%; overflow: hidden;">
                <MudCarousel Class="mud-width-full" Style="height: 100%;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                    <MudCarouselItem Transition="Transition.Fade" Style="height:100%; background-image: url('media/images/pokemons/shiny-naganadel.jpg'); background-position: center; background-repeat: no-repeat;">
                    </MudCarouselItem>
                    <MudCarouselItem Transition="Transition.Fade">
                        <div class="d-flex" style="height:100%; background-image: url('media/images/pokemons/shiny-buzzwole.jpg'); background-position: center; background-repeat: no-repeat;">
                        </div>
                    </MudCarouselItem>
                </MudCarousel>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private List<Card> _cards = new(12);
    private ElementReference _scrollContainer;
    private bool disableScrollLeftButton = true;
    private bool disableScrollRightButton = false;

    protected override void OnInitialized()
    {
        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/digital-drawing-contest.45729/",
            createDate: new DateTime(2023, 4, 26, 20, 53, 0),
            endDate: new DateTime(2023, 5, 31, 18, 0, 0),
            description: new(
                "All submissions must be received by the deadline of May 31st, 2023.",
                "Wszystkie zgłoszenia muszą zostać dostarczone do terminu 31 maja 2023.",
                "Todas as inscrições devem ser recebidas até o prazo de 31 de maio de 2023.",
                "Todas as submissões devem ser recebidas até o prazo de 31 de maio de 2023.",
                "Все заявки должны быть получены к сроку до 31 мая 2023 года.",
                "Todas las presentaciones deben ser recibidas antes de la fecha límite del 31 de mayo de 2023."),
            new(
                "Digital Drawing Contest",
                "Konkurs Rysunku Cyfrowego",
                "Concurso de Desenho Digital",
                "Concurso de Desenho Digital",
                "Конкурс Цифровой Живописи",
                "Concurso de Dibujo Digital"),
            "https://cdn.discordapp.com/attachments/787307097855361045/1100867746230702181/drawing.png"));

        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/easter-event-2023-donation-promotion-battle-pass-higher-rates.45708/",
            createDate: new DateTime(2023, 4, 4, 16, 40, 0),
            endDate: new DateTime(2023, 4, 19, 18, 0, 0),
            description: new(
                "Finizen/Shiny Finizen, donation promo, battle pass, and high rates from April 4th to April 19th.",
                "Finizen/Finizen Lśniący, promocja dotacji, przejście bitewne i wysokie stawki od 4 kwietnia do 19 kwietnia.",
                "Finizen/Finizen Brilhante, promoção de doação, passe de batalha e taxas altas de 4 de abril a 19 de abril.",
                "Finizen/Finizen Brilhante, promoção de doação, passe de batalha e taxas altas de 4 de abril a 19 de abril.",
                "Финизен/Сияющий Финизен, промо-акция на пожертвования, пропуск битвы и высокие ставки с 4 апреля по 19 апреля.",
                "Finizen/Finizen Brillante, promoción de donación, pase de batalla y tasas altas del 4 de abril al 19 de abril."),
            tittle: new(
                "Triple Easter Event",
                "Potrójne wydarzenie wielkanocne",
                "Evento de Páscoa Triplo",
                "Evento Triplo de Páscoa",
                "Тройное пасхальное событие",
                "Evento Triple de Pascua"),
            backgroundImage: "https://i.imgur.com/iRdtBLT.png"));

        _cards.Add(new Card(
            callbackUrl: "http://forum.padventures.org/index.php?threads/valentine-event-2023-donation-promotion-battle-pass-higher-rates.45657/",
            createDate: new DateTime(2023, 2, 11, 3, 14, 0),
            endDate: new DateTime(2023, 2, 25, 18, 0, 0),
            description: new(
                "Tinkaton, Iron Valiant, Hisuian Lilligant (and your shinies). Battle pass, high rates and donation promo from february 11th to february 25th.",
                "Tinkaton, Iron Valiant, Hisuian Lilligant (i ich błyszczące wersje). Przejście bitewne, wysokie stawki i promocja dotacji od 11 lutego do 25 lutego.",
                "Tinkaton, Iron Valiant, Hisuian Lilligant (e suas versões brilhantes). Passe de batalha, altas taxas e promoção de doação de 11 de fevereiro a 25 de fevereiro.",
                "Tinkaton, Iron Valiant, Hisuian Lilligant (e as suas versões brilhantes). Passe de batalha, altas taxas e promoção de doação de 11 de fevereiro a 25 de fevereiro.",
                "Тинкатон, Железный Отважный, Хисуйская Лиллигант (и их блестящие варианты). Пропуск битвы, высокие ставки и акция на пожертвования с 11 февраля по 25 февраля.",
                "Tinkaton, Iron Valiant, Hisuian Lilligant (y sus versiones brillantes). Pase de batalla, altas tasas y promoción de donación del 11 de febrero al 25 de febrero."),
            tittle: new(
                "Triple Valentine Event 2023",
                "Potrójne wydarzenie Walentynkowe 2023",
                "Evento Triplo de Dia dos Namorados 2023",
                "Evento Triplo de São Valentim 2023",
                "Тройное празднование Дня Святого Валентина 2023 года",
                "Evento Triple de San Valentín 2023"),
            backgroundImage: "https://i.imgur.com/5q16G9c.png"));

        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/digital-drawing-contest.45729/",
            createDate: new DateTime(2022, 12, 24, 21, 3, 0),
            endDate: new DateTime(2023, 1, 5, 18, 0, 0),
            description: new(
                "Coalossal, Wyrdeer, Iron Bundle, Scream Tail, Hisuian Avalugg, Glastrier (and your shinies). high rates and donation promo from december 21th to january 05th.",
                "Coalossal, Wyrdeer, Iron Bundle, Scream Tail, Hisuian Avalugg, Glastrier (i ich błyszczące wersje). Wysokie stawki i promocja dotacji od 21 grudnia do 5 stycznia.",
                "Coalossal, Wyrdeer, Iron Bundle, Scream Tail, Hisuian Avalugg, Glastrier (e suas versões brilhantes). Altas taxas e promoção de doação de 21 de dezembro a 5 de janeiro.",
                "Coalossal, Wyrdeer, Iron Bundle, Scream Tail, Hisuian Avalugg, Glastrier (e as suas versões brilhantes). Altas taxas e promoção de doação de 21 de dezembro a 5 de janeiro.",
                "Коалоссал, Вирдир, Железный Набор, Крик Хвоста, Хисуйский Авалагг, Гластрир (и их блестящие варианты). Высокие ставки и акция на пожертвования с 21 декабря по 5 января.",
                "Coalossal, Wyrdeer, Iron Bundle, Scream Tail, Hisuian Avalugg, Glastrier (y sus versiones brillantes). Altas tasas y promoción de donación del 21 de diciembre al 5 de enero."),
            tittle: new(
                "Triple Christmas Event 2022",
                "Potrójne wydarzenie świąteczne 2022",
                "Evento Triplo de Natal 2022",
                "Evento Triplo de Natal 2022",
                "Тройное Рождественское событие 2022 года",
                "Evento Triple de Navidad 2022"),
            "https://cdn.discordapp.com/attachments/759537438665605181/911979213714780190/eventchristmas.png"));

        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/birthday-event-donation-promotion-higher-rates.45556/",
            createDate: new DateTime(2022, 11, 15, 16, 1, 0),
            endDate: new DateTime(2022, 11, 25, 18, 0, 0),
            description: new(
                "Toxtricity (2 different forms), Gigantamax Alcremie, Grapploct/Shiny Grapploct. high catch and high exp rates and donation promo from november 18th to november 25th.",
                "Toxtricity (2 różne formy), Gigantamax Alcremie, Grapploct/Shiny Grapploct. Wysokie stawki łapania i doświadczenia oraz promocja dotacji od 18 listopada do 25 listopada.",
                "Toxtricity (2 formas diferentes), Gigantamax Alcremie, Grapploct/Shiny Grapploct. Altas taxas de captura e experiência, e promoção de doação de 18 de novembro a 25 de novembro.",
                "Toxtricity (2 formas diferentes), Gigantamax Alcremie, Grapploct/Shiny Grapploct. Altas taxas de captura e experiência, e promoção de doação de 18 de novembro a 25 de novembro.",
                "Токстрицити (2 разных формы), Гигантамакс Алкреми, Грапплокт/Блестящий Грапплокт. Высокие ставки пойманного и опыта, а также акция на пожертвования с 18 ноября по 25 ноября.",
                "Toxtricity (2 formas diferentes), Gigamax Alcremie, Grapploct/Grapploct Brillante. Altas tasas de captura y experiencia, y promoción de donación del 18 de noviembre al 25 de noviembre."),
            new(
                "Triple 12th Birthday Event",
                "Potrójne wydarzenie z okazji 12. urodzin",
                "Evento Triplo de 12º Aniversário",
                "Evento Triplo de 12º Aniversário",
                "Тройное празднование 12-летия",
                "Evento Triple de 12º Aniversario"),
            "https://cdn.discordapp.com/attachments/787307097855361045/1035592989755592744/banneruro2.png"));
    }

    private static string CalculateElapsedTime(DateTime dataInicial)
    {
        var dif = DateTime.Now - dataInicial;
        var humanizedDifference = dif.Humanize(2, maxUnit: Humanizer.Localisation.TimeUnit.Day, minUnit: Humanizer.Localisation.TimeUnit.Hour, collectionSeparator: $" {Resources.And} ");
        return $"{humanizedDifference} {Resources.Ago}";
    }

    private string RandomRotate()
    {
        var random = new Random();
        var deg = random.Next(-5, 6);
        return $"rotate({deg}deg)";
    }

}