@page "/"
@using PadWiki.WebApp.Entities
@using Humanizer

<head>
    <link href="random-cards.css" rel="stylesheet"/>
</head>

<PageTitle>Home</PageTitle>

<MudCarousel Class="mud-width-full" Style="height:384px; width: 100%; background-color: transparent;" ShowArrows="true" ShowBullets="false" TData="object">
    <PreviousButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit"/>
            </span>
        </div>
    </PreviousButtonTemplate>
    <NextButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit"/>
            </span>
        </div>
    </NextButtonTemplate>
    <ChildContent>
        <MudCarouselItem Color="@Color.Primary">
            <div class="random-card-html" style="background-image: url('https://i.imgur.com/gHWfK1Z.jpg');">
                <div class="random-card-body">
                    <div class="scrolling-wrapper" id="scrollingWrapper">
                        @foreach (var card in _cards)
                        {
                            <a class="random-card p-3" href="@card.CallbackUrl" target="_blank" style="transition: transform 2s; transform: @RandomRotate();">
                                <img class="mb-3" src="@card.BackgroundImage"/>
                                <h5 class="text-center">@card.Tittle</h5>
                                <p>@card.Description</p>

                                <p>
                                    <small>@CalculateElapsedTime(card.CreateDate)</small>
                                </p>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>
<MudContainer MaxWidth="MaxWidth.False" Class="pt-5">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private List<Card> _cards = new(12);
    private ElementReference _scrollContainer;
    private bool disableScrollLeftButton = true;
    private bool disableScrollRightButton = false;

    protected override void OnInitialized()
    {
        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/digital-drawing-contest.45729/",
            createDate: new DateTime(2023, 4, 26, 20, 53, 0),
            endDate: new DateTime(2023, 5, 31, 18, 0, 0),
            description: "All submissions must be received by the deadline of May 31st, 2023.",
            "Digital Drawing Contest",
            "https://cdn.discordapp.com/attachments/787307097855361045/1100867746230702181/drawing.png"));

        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/easter-event-2023-donation-promotion-battle-pass-higher-rates.45708/",
            createDate: new DateTime(2023, 4, 4, 16, 40, 0),
            endDate: new DateTime(2023, 4, 19, 18, 0, 0),
            description: "Finizen/Shiny Finizen, donation promo, battle pass, and high rates from April 4th to April 19th.",
            tittle: "Triple Easter Event",
            backgroundImage: "https://i.imgur.com/iRdtBLT.png"));

        _cards.Add(new Card(
            callbackUrl: "http://forum.padventures.org/index.php?threads/valentine-event-2023-donation-promotion-battle-pass-higher-rates.45657/",
            createDate: new DateTime(2023, 2, 11, 3, 14, 0),
            endDate: new DateTime(2023, 2, 25, 18, 0, 0),
            description: "Tinkaton, Iron Valiant, Hisuian Lilligant (and your shinies). Battle pass, high rates and donation promo from february 11th to february 25th.",
            tittle: "Triple Valentine Event 2023",
            backgroundImage: "https://i.imgur.com/5q16G9c.png"));

        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/digital-drawing-contest.45729/",
            createDate: new DateTime(2022, 12, 24, 21, 3, 0),
            endDate: new DateTime(2023, 1, 5, 18, 0, 0),
            description: "Coalossal, Wyrdeer, Iron Bundle, Scream Tail, Hisuian Avalugg, Glastrier (and your shinies). high rates and donation promo from december 21th to january 05th.",
            "Triple Christmas Event 2022",
            "https://cdn.discordapp.com/attachments/759537438665605181/911979213714780190/eventchristmas.png"));

        _cards.Add(new(
            callbackUrl: "http://forum.padventures.org/index.php?threads/birthday-event-donation-promotion-higher-rates.45556/",
            createDate: new DateTime(2022, 11, 15, 16, 1, 0),
            endDate: new DateTime(2022, 11, 25, 18, 0, 0),
            description: "Toxtricity (2 different forms), Gigantamax Alcremie, Grapploct/Shiny Grapploct. high catch and high exp rates and donation promo from november 18th to november 25th.",
            "Triple 12th Birthday Event",
            "https://cdn.discordapp.com/attachments/787307097855361045/1035592989755592744/banneruro2.png"));
    }

    private static string CalculateElapsedTime(DateTime dataInicial)
    {
        var dif = DateTime.Now - dataInicial;
        var humanizedDifference = dif.Humanize(2, maxUnit: Humanizer.Localisation.TimeUnit.Day, minUnit: Humanizer.Localisation.TimeUnit.Hour, collectionSeparator: " and ");
        return $"{humanizedDifference} ago";
    }

    private string RandomRotate()
    {
        var random = new Random();
        var deg = random.Next(-5, 6);
        return $"rotate({deg}deg)";
    }

    private string MakeText()
    {
        string lorem = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis eaque necessitatibus, explicabo vero hic, perspiciatis unde minus error consectetur, quos sunt officiis ad repellendus pariatur eligendi tempora praesentium tenetur";
        var loremArray = lorem.Split(' ');
        var random = new Random();
        var amountOfText = random.Next(10, 31); // O segundo parâmetro é exclusivo, então precisamos adicionar 1 para incluir 30.
        var text = loremArray.Take(amountOfText);
        return string.Join(' ', text) + ".";
    }

}