<ul class="pagination">
    <li class="page-item">
        <a
            id="energiesDropDown"
            type="button"
            class="page-link"
            data-mdb-toggle="collapse"
            data-mdb-target="#energiesCollapseThree"
            aria-expanded="false"
            aria-controls="collapseThree">
            Filter energy
        </a>
    </li>
</ul>

<div class="accordion-item">
    <div id="energiesCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
            <div class="d-flex d-inline justify-content-center">
                <button class="icon-bug btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isBugEnabled ? "" : "opacity: 0.5;")"
                        title="Bug"
                        @onclick="() => _isBugEnabled = !_isBugEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-dark btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isDarkEnabled ? "" : "opacity: 0.5;")"
                        title="Dark"
                        @onclick="() => _isDarkEnabled = !_isDarkEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-dragon btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isDragonEnabled ? "" : "opacity: 0.5;")"
                        title="Dragon"
                        @onclick="() => _isDragonEnabled = !_isDragonEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-electric btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isElectricEnabled ? "" : "opacity: 0.5;")"
                        title="Electric"
                        @onclick="() => _isElectricEnabled = !_isElectricEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-fairy btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isFairyEnabled ? "" : "opacity: 0.5;")"
                        title="Fairy"
                        @onclick="() => _isFairyEnabled = !_isFairyEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-fighting btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isFightingEnabled ? "" : "opacity: 0.5;")"
                        title="Fighting"
                        @onclick="() => _isFightingEnabled = !_isFightingEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-fire btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isFireEnabled ? "" : "opacity: 0.5;")"
                        title="Fire"
                        @onclick="() => _isFireEnabled = !_isFireEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-flying btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isFlyingEnabled ? "" : "opacity: 0.5;")"
                        title="Flying"
                        @onclick="() => _isFlyingEnabled = !_isFlyingEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-ghost btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isGhostEnabled ? "" : "opacity: 0.5;")"
                        title="Ghost"
                        @onclick="() => _isGhostEnabled = !_isGhostEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-grass btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isGrassEnabled ? "" : "opacity: 0.5;")"
                        title="Grass"
                        @onclick="() => _isGrassEnabled = !_isGrassEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-ground btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isGroundEnabled ? "" : "opacity: 0.5;")"
                        title="Ground"
                        @onclick="() => _isGroundEnabled = !_isGroundEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-ice btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isIceEnabled ? "" : "opacity: 0.5;")"
                        title="Ice"
                        @onclick="() => _isIceEnabled = !_isIceEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-normal btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isNormalEnabled ? "" : "opacity: 0.5;")"
                        title="Normal"
                        @onclick="() => _isNormalEnabled = !_isNormalEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-poison btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isPoisonEnabled ? "" : "opacity: 0.5;")"
                        title="Poison"
                        @onclick="() => _isPoisonEnabled = !_isPoisonEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-psychic btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isPsychicEnabled ? "" : "opacity: 0.5;")"
                        title="Psychic"
                        @onclick="() => _isPsychicEnabled = !_isPsychicEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-rock btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isRockEnabled ? "" : "opacity: 0.5;")"
                        title="Rock"
                        @onclick="() => _isRockEnabled = !_isRockEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-steel btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isSteelEnabled ? "" : "opacity: 0.5;")"
                        title="Steel"
                        @onclick="() => _isSteelEnabled = !_isSteelEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
                <button class="icon-water btn btn-link"
                        data-mdb-toggle="tooltip"
                        style="width: 45px; height: 45px; @(_isWaterEnabled ? "" : "opacity: 0.5;")"
                        title="Water"
                        @onclick="() => _isWaterEnabled = !_isWaterEnabled"
                        @onclick:preventDefault
                        @onclick:stopPropagation>
                </button>
            </div>
        </div>
    </div>
</div>

@code {
        private bool _isBugEnabled = true;
        private bool _isDarkEnabled = true;
        private bool _isDragonEnabled = true;
        private bool _isElectricEnabled = true;
        private bool _isFairyEnabled = true;
        private bool _isFightingEnabled = true;
        private bool _isFireEnabled = true;
        private bool _isFlyingEnabled = true;
        private bool _isGhostEnabled = true;
        private bool _isGrassEnabled = true;
        private bool _isGroundEnabled = true;
        private bool _isIceEnabled = true;
        private bool _isNormalEnabled = true;
        private bool _isPoisonEnabled = true;
        private bool _isPsychicEnabled = true;
        private bool _isRockEnabled = true;
        private bool _isSteelEnabled = true;
        private bool _isWaterEnabled = true;
}